.player {
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.6604);
    width: 300px;
    border-radius: 50px 0px 0px 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
    width: 320px;
}